.card{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 80vh;
    margin: 1rem 0;
    border-radius: 5px;
}
.img-recipe img{
	width: 25vw;
}
.card-info{
	width: 25vw;
    height: 50vh;
    background-color: #000000;
}
.card-info a{
	color: white;
    text-decoration: none;
}
.card-info a:hover {
    color: #888888
}
.card-title{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-left: 4px;
    text-align: left ;
    text-transform: uppercase;
}
.card-diets{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin-left: 4px;
    text-align: left ;
}