.background-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    width: 100px; 
    height: 100px;
}

.img-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    width: 1280px; 
    height: 657px;
}

.logo-container {
    position: absolute;
    top: 30%;
    left: 100px;
    width: 500px; 
    height: 250px;
}

.btn{
    position: absolute;
    top: 75%;
    left: 250px;
    padding: 15px 60px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    color: white;
    background-color: black;
}

.btn:hover{
    background-color: rgb(22, 22, 22);
    color: rgb(185, 185, 185);
}
